<!DOCTYPE html>
<html lang="en">
<head>	
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Закажи свой уникальный портрет от GBV.ART </title>
  <link rel="stylesheet" href="css/slick.css?ver=1.0.1">
  <link rel="stylesheet" href="css/slick-theme.css?ver=1.0.1">
  <link rel="stylesheet" href="css/style.min.css?ver=1.0.4">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link type="text/css" href="css/style.css?ver=1.0.2" rel="stylesheet">
  <link type="text/css" rel="stylesheet" href="css/order.css?ver=1.0.2">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&amp;display=swap">

  
  <link rel="icon" type="image/png" href="/favicon_16.png" />
  <link rel="icon" type="image/png" href="/favicon_32.png" />
  <link rel="icon" type="image/png" href="/favicon_192.png" />
  <link rel="icon" type="image/png" href="/favicon_512.png" />

	<script>
		!function (w, d, t) {
		  w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++
				)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};n=document.createElement("script");n.type="text/javascript",n.async=!0,n.src=i+"?sdkid="+e+"&lib="+t;e=document.getElementsByTagName("script")[0];e.parentNode.insertBefore(n,e)};
		
		  ttq.load('C7SM2VQSLUCT7DQB1N5G');
		  ttq.page();
		}(window, document, 'ttq');
	</script>
	
  <script>
		!function (w, d, t) {
		w.TiktokAnalyticsObject=t;var ttq=w[t]=w[t]||[];ttq.methods=["page","track","identify","instances","debug","on","off","once","ready","alias","group","enableCookie","disableCookie"],ttq.setAndDefer=function(t,e){t[e]=function(){t.push([e].concat(Array.prototype.slice.call(arguments,0)))}};for(var i=0;i<ttq.methods.length;i++)ttq.setAndDefer(ttq,ttq.methods[i]);ttq.instance=function(t){for(var e=ttq._i[t]||[],n=0;n<ttq.methods.length;n++)ttq.setAndDefer(e,ttq.methods[n]);return e},ttq.load=function(e,n){var i="https://analytics.tiktok.com/i18n/pixel/events.js";ttq._i=ttq._i||{},ttq._i[e]=[],ttq._i[e]._u=i,ttq._t=ttq._t||{},ttq._t[e]=+new Date,ttq._o=ttq._o||{},ttq._o[e]=n||{};var o=document.createElement("script");o.type="text/javascript",o.async=!0,o.src=i+"?sdkid="+e+"&lib="+t;var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(o,a)};

		ttq.load('BVE9DGVQSG1UAS59OQ00');
		ttq.page();
		}(window, document, 'ttq');
	</script>
	    <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-BFCFSDKYD7"></script>
	
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'G-BFCFSDKYD7');
	</script>


</head>
<body>
<!-- Yandex.Metrika counter --> 
<script type="text/javascript" > (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)}; m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)}) (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym"); ym(70371736, "init", { clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true, trackHash:true }); </script>
<noscript>
		<img src="https://mc.yandex.ru/watch/70371736" style="position:absolute; left:-9999px;" alt="" />
	</div>
</noscript> <!-- /Yandex.Metrika counter -->

	<div id="preloader">
		<div class="preloader__image__block">
			<div class="title">
				<span class='top-logo'>GBV.ART</span><br>
				<span class="subtitle">loading</span>
			</div>
			<svg class="preloader__image" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
		    <path fill="black"
		      d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z">
		    </path>
		  </svg>
		</div>

	</div>

	<div id="background_wrap"></div>

	<section class="top">
		<div class="container">
			<div class="top-block flex">
				<a href="/"><span class="top-logo">GBV.ART</span></a>
				<button class="m-menu">
					<span></span>
					<span></span>
					<span></span>
				</button>
				<ul class="menu main-menu">
					<li class='li_interier'><a href="#interier">ИНТЕРЬЕРНЫЕ КАРТИНЫ</a></li>
					<li class='li_portraits'><a href="#portraits">ПОРТРЕТЫ<br> НА ХОЛСТЕ</a></li>
					<li><a href="#ringstring">RINGSTRING</a></li>
					<li><a href="#mozabrick">MOZABRICK</a></li>
					<li><a href="#cost">УЗНАТЬ ЦЕНУ</a></li>
					<li><a href="#about-us">О НАС</a></li>
				</ul>
				<!--<a href="tel:+79123491866" class="phone">+7 (912) 349-18-66</a>-->
				<a target="blank" href="https://vk.com/gbvart" class="vk"><img style="width: 32px;" src="img/vk_black.svg" alt=""></a>
			</div>
		</div>
	</section>

	<header class="header dark-block">
		<div class="container">
			<div class="header-block">
				<div class="left">
					<p>GABITOV<br> ART</p>

					<font size="6" color="white">Создавай эмоциональные шедевры и поделись ими с теми,<br> кого <span class="grad">ценишь</span>!</font><br>

					<a class="btn-default recall">ЗАКАЗАТЬ</a>
				</div>
				
				<div class="module-border-wrap">
					<div class="module">
				  <img src="img/test.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- интерьерные картины -->
	<section class="section2 light-block" id='interier'>
		<div class="container">
			<div class="section2-block">
				<h2>ИНТЕРЬЕРНЫЕ КАРТИНЫ</h2>
				<span class="section-desc">Освежи свой дом волшебством искусства!</span>
				<div class="gallery">
					<div class='gallery-tab-names'>
						<ul>
							<li class='gallery-tab-name grad-on-white' data-tab-name='gallery-tops'><span class="tab-name">Хиты</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-new'><span class="tab-name">Новинки</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-auto'><span class="tab-name">Автомобили</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-money'><span class="tab-name">Деньги</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-motivation'><span class="tab-name">Мотивация</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-scrooge'><span class="tab-name">Скрудж</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-lips'><span class="tab-name">Губы</span></li>
							<li class="gallery-tab-name" data-tab-name="gallery-arts"><span class="tab-name">Арты</span></li>
							<li class="gallery-tab-name" data-tab-name="gallery-by_photo"><span class="tab-name">Картины по фото</span></li>
							<li class="gallery-tab-name" data-tab-name="gallery-animals"><span class="tab-name">Природа</span></li>
							<li class="gallery-tab-name" data-tab-name="gallery-modules"><span class="tab-name">Модульные картины</span></li>
						</ul>
				  </div>
					<div id='gallery-tops' class='gallery-list flex-container' type="none">
						<a href="img/gallery/interier/tops/1.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/1.jpg"></a>
						<a href="img/gallery/interier/tops/2.JPG" data-fancybox="tops"><img src="img/gallery/interier/tops/2.JPG"></a>
						<a href="img/gallery/interier/tops/3.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/3.jpg"></a>
						<a href="img/gallery/interier/tops/4.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/4.jpg"></a>
						<a href="img/gallery/interier/tops/5.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/5.jpg"></a>
						<a href="img/gallery/interier/tops/6.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/6.jpg"></a>
						<a href="img/gallery/interier/tops/7.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/7.jpg"></a>
						<a href="img/gallery/interier/tops/8.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/8.jpg"></a>
						<a href="img/gallery/interier/tops/9.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/9.jpg"></a>
						<a href="img/gallery/interier/tops/10.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/10.jpg"></a>
						<a href="img/gallery/interier/tops/11.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/11.jpg"></a>
						<a href="img/gallery/interier/tops/12.jpg" data-fancybox="tops"><img src="img/gallery/interier/tops/12.jpg"></a>
					</div>
					<div id="gallery-new" class="gallery-list flex-container" type="none" style='display: none;'>
						<a href="img/gallery/interier/new/1.JPG" data-fancybox="new-pics"><img src="img/gallery/interier/new/1.JPG" alt=""></a>
						<a href="img/gallery/interier/new/2.JPG" data-fancybox="new-pics"><img src="img/gallery/interier/new/2.JPG" alt=""></a>
						<a href="img/gallery/interier/new/3.JPG" data-fancybox="new-pics"><img src="img/gallery/interier/new/3.JPG" alt=""></a>
						<a href="img/gallery/interier/new/4.jpg" data-fancybox="new-pics"><img src="img/gallery/interier/new/4.jpg" alt=""></a>
						<a href="img/gallery/interier/new/5.webp" data-fancybox="new-pics"><img src="img/gallery/interier/new/5.webp" alt=""></a>
						<a href="img/gallery/interier/new/6.JPG" data-fancybox="new-pics"><img src="img/gallery/interier/new/6.JPG" alt=""></a>
						<a href="img/gallery/interier/new/7.JPG" data-fancybox="new-pics"><img src="img/gallery/interier/new/7.JPG" alt=""></a>
						<a href="img/gallery/interier/new/8.JPG" data-fancybox="new-pics"><img src="img/gallery/interier/new/8.JPG" alt=""></a>
						<a href="img/gallery/interier/new/9.JPG" data-fancybox="new-pics"><img src="img/gallery/interier/new/9.JPG" alt=""></a>
						<a href="img/gallery/interier/new/10.JPG" data-fancybox="new-pics"><img src="img/gallery/interier/new/10.JPG" alt=""></a>
						<a href="img/gallery/interier/new/11.jpg" data-fancybox="new-pics"><img src="img/gallery/interier/new/11.jpg" alt=""></a>
						<a href="img/gallery/interier/new/12.jpeg" data-fancybox="new-pics"><img src="img/gallery/interier/new/12.jpeg" alt=""></a>
					</div>
					<div id="gallery-auto" class="gallery-list flex-container" type='none' style='display: none;'>
						<a href="img/gallery/interier/auto/1.jpg" data-fancybox="auto"><img src="img/gallery/interier/auto/1.jpg" alt=""></a>
						<a href="img/gallery/interier/auto/2.jpeg" data-fancybox="auto"><img src="img/gallery/interier/auto/2.jpeg" alt=""></a>
						<a href="img/gallery/interier/auto/3.jpg" data-fancybox="auto"><img src="img/gallery/interier/auto/3.jpg" alt=""></a>
						<a href="img/gallery/interier/auto/4.jpeg" data-fancybox="auto"><img src="img/gallery/interier/auto/4.jpeg" alt=""></a>
						<a href="img/gallery/interier/auto/5.jpg" data-fancybox="auto"><img src="img/gallery/interier/auto/5.jpg" alt=""></a>
						<a href="img/gallery/interier/auto/6.jpeg" data-fancybox="auto"><img src="img/gallery/interier/auto/6.jpeg" alt=""></a>
						<a href="img/gallery/interier/auto/7.jpeg" data-fancybox="auto"><img src="img/gallery/interier/auto/7.jpeg" alt=""></a>
						<a href="img/gallery/interier/auto/8.jpeg" data-fancybox="auto"><img src="img/gallery/interier/auto/8.jpeg" alt=""></a>
						<a href="img/gallery/interier/auto/9.jpeg" data-fancybox="auto"><img src="img/gallery/interier/auto/9.jpeg" alt=""></a>
						<a href="img/gallery/interier/auto/10.JPG" data-fancybox="auto"><img src="img/gallery/interier/auto/10.JPG" alt=""></a>
						<a href="img/gallery/interier/auto/11.jpeg" data-fancybox="auto"><img src="img/gallery/interier/auto/11.jpeg" alt=""></a>
						<a href="img/gallery/interier/auto/12.JPG" data-fancybox="auto"><img src="img/gallery/interier/auto/12.JPG" alt=""></a>
					</div>
					<div id="gallery-money" class="gallery-list flex-container" type='none' style='display: none;'>
						<a href="img/gallery/interier/money/1.jpeg" data-fancybox="money"><img src="img/gallery/interier/money/1.jpeg" alt=""></a>
						<a href="img/gallery/interier/money/2.jpeg" data-fancybox="money"><img src="img/gallery/interier/money/2.jpeg" alt=""></a>
						<a href="img/gallery/interier/money/3.jpg" data-fancybox="money"><img src="img/gallery/interier/money/3.jpg" alt=""></a>
						<a href="img/gallery/interier/money/4.jpeg" data-fancybox="money"><img src="img/gallery/interier/money/4.jpeg" alt=""></a>
						<a href="img/gallery/interier/money/5.jpeg" data-fancybox="money"><img src="img/gallery/interier/money/5.jpeg" alt=""></a>
						<a href="img/gallery/interier/money/6.jpg" data-fancybox="money"><img src="img/gallery/interier/money/6.jpg" alt=""></a>
						<a href="img/gallery/interier/money/7.jpeg" data-fancybox="money"><img src="img/gallery/interier/money/7.jpeg" alt=""></a>
						<a href="img/gallery/interier/money/8.jpeg" data-fancybox="money"><img src="img/gallery/interier/money/8.jpeg" alt=""></a>
						<a href="img/gallery/interier/money/9.jpeg" data-fancybox="money"><img src="img/gallery/interier/money/9.jpeg" alt=""></a>
						<a href="img/gallery/interier/money/10.jpg" data-fancybox="money"><img src="img/gallery/interier/money/10.jpg" alt=""></a>
						<a href="img/gallery/interier/money/11.jpg" data-fancybox="money"><img src="img/gallery/interier/money/11.jpg" alt=""></a>
						<a href="img/gallery/interier/money/12.jpg" data-fancybox="money"><img src="img/gallery/interier/money/12.jpg" alt=""></a>
					</div>
					<div id="gallery-motivation" class="gallery-list flex-container" type='none' style='display: none;'>
						<a href="img/gallery/interier/motivation/1.jpg" data-fancybox="motivation"><img src="img/gallery/interier/motivation/1.jpg" alt=""></a>
						<a href="img/gallery/interier/motivation/2.jpg" data-fancybox="motivation"><img src="img/gallery/interier/motivation/2.jpg" alt=""></a>
						<a href="img/gallery/interier/motivation/3.jpg" data-fancybox="motivation"><img src="img/gallery/interier/motivation/3.jpg" alt=""></a>
						<a href="img/gallery/interier/motivation/4.jpg" data-fancybox="motivation"><img src="img/gallery/interier/motivation/4.jpg" alt=""></a>
						<a href="img/gallery/interier/motivation/5.jpg" data-fancybox="motivation"><img src="img/gallery/interier/motivation/5.jpg" alt=""></a>
						<a href="img/gallery/interier/motivation/6.jpg" data-fancybox="motivation"><img src="img/gallery/interier/motivation/6.jpg" alt=""></a>
						<a href="img/gallery/interier/motivation/7.JPG" data-fancybox="motivation"><img src="img/gallery/interier/motivation/7.JPG" alt=""></a>
						<a href="img/gallery/interier/motivation/8.jpeg" data-fancybox="motivation"><img src="img/gallery/interier/motivation/8.jpeg" alt=""></a>
						<a href="img/gallery/interier/motivation/9.JPG" data-fancybox="motivation"><img src="img/gallery/interier/motivation/9.JPG" alt=""></a>
						<a href="img/gallery/interier/motivation/10.JPG" data-fancybox="motivation"><img src="img/gallery/interier/motivation/10.JPG" alt=""></a>
						<a href="img/gallery/interier/motivation/11.jpg" data-fancybox="motivation"><img src="img/gallery/interier/motivation/11.jpg" alt=""></a>
						<a href="img/gallery/interier/motivation/12.JPG" data-fancybox="motivation"><img src="img/gallery/interier/motivation/12.JPG" alt=""></a>
					</div>
					<div id="gallery-scrooge" class="gallery-list flex-container" type='none' style='display: none;'>
						<a href="img/gallery/interier/scrooge/1.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/1.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/2.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/2.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/3.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/3.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/4.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/4.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/5.jpg" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/5.jpg" alt=""></a>
						<a href="img/gallery/interier/scrooge/6.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/6.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/7.jpg" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/7.jpg" alt=""></a>
						<a href="img/gallery/interier/scrooge/8.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/8.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/9.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/9.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/10.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/10.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/11.JPG" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/11.JPG" alt=""></a>
						<a href="img/gallery/interier/scrooge/12.jpg" data-fancybox="scrooge"><img src="img/gallery/interier/scrooge/12.jpg" alt=""></a>
					</div>
					<div id="gallery-lips" class="gallery-list flex-container" type='none' style='display: none;'>
						<a href="img/gallery/interier/lips/1.jpg" data-fancybox="lips"><img src="img/gallery/interier/lips/1.jpg" alt=""></a>
						<a href="img/gallery/interier/lips/2.jpg" data-fancybox="lips"><img src="img/gallery/interier/lips/2.jpg" alt=""></a>
						<a href="img/gallery/interier/lips/3.jpg" data-fancybox="lips"><img src="img/gallery/interier/lips/3.jpg" alt=""></a>
						<a href="img/gallery/interier/lips/4.JPG" data-fancybox="lips"><img src="img/gallery/interier/lips/4.JPG" alt=""></a>
						<a href="img/gallery/interier/lips/5.JPG" data-fancybox="lips"><img src="img/gallery/interier/lips/5.JPG" alt=""></a>
						<a href="img/gallery/interier/lips/6.JPG" data-fancybox="lips"><img src="img/gallery/interier/lips/6.JPG" alt=""></a>
						<a href="img/gallery/interier/lips/7.jpg" data-fancybox="lips"><img src="img/gallery/interier/lips/7.jpg" alt=""></a>
						<a href="img/gallery/interier/lips/8.jpg" data-fancybox="lips"><img src="img/gallery/interier/lips/8.jpg" alt=""></a>
						<a href="img/gallery/interier/lips/9.jpg" data-fancybox="lips"><img src="img/gallery/interier/lips/9.jpg" alt=""></a>
						<a href="img/gallery/interier/lips/10.JPG" data-fancybox="lips"><img src="img/gallery/interier/lips/10.JPG" alt=""></a>
						<a href="img/gallery/interier/lips/11.jpeg" data-fancybox="lips"><img src="img/gallery/interier/lips/11.jpeg" alt=""></a>
						<a href="img/gallery/interier/lips/12.jpg" data-fancybox="lips"><img src="img/gallery/interier/lips/12.jpg" alt=""></a>
					</div>
					<div id="gallery-arts" class="gallery-list flex-container" type="none" style="display:none;">
						<a href="img/gallery/interier/arts/1.jpg" data-fancybox="lips"><img src="img/gallery/interier/arts/1.jpg"></a>
						<a href="img/gallery/interier/arts/2.jpeg" data-fancybox="lips"><img src="img/gallery/interier/arts/2.jpeg"></a>
						<a href="img/gallery/interier/arts/3.JPG" data-fancybox="lips"><img src="img/gallery/interier/arts/3.JPG"></a>
						<a href="img/gallery/interier/arts/4.JPG" data-fancybox="lips"><img src="img/gallery/interier/arts/4.JPG"></a>
						<a href="img/gallery/interier/arts/5.JPG" data-fancybox="lips"><img src="img/gallery/interier/arts/5.JPG"></a>
						<a href="img/gallery/interier/arts/6.jpg" data-fancybox="lips"><img src="img/gallery/interier/arts/6.jpg"></a>
						<a href="img/gallery/interier/arts/7.jpeg" data-fancybox="lips"><img src="img/gallery/interier/arts/7.jpeg"></a>
						<a href="img/gallery/interier/arts/8.jpg" data-fancybox="lips"><img src="img/gallery/interier/arts/8.jpg"></a>
						<a href="img/gallery/interier/arts/9.JPG" data-fancybox="lips"><img src="img/gallery/interier/arts/9.JPG"></a>
						<a href="img/gallery/interier/arts/10.jpeg" data-fancybox="lips"><img src="img/gallery/interier/arts/10.jpeg"></a>>
						<a href="img/gallery/interier/arts/11.JPG" data-fancybox="lips"><img src="img/gallery/interier/arts/11.JPG"></a>
						<a href="img/gallery/interier/arts/12.jpg" data-fancybox="lips"><img src="img/gallery/interier/arts/12.jpg"></a>
					</div>
					<div id="gallery-by_photo" class="gallery-list flex-container" type="none" style="display:none;">
						<a href="img/gallery/interier/by_photo/1.jpg" data-fancybox="by_photo"><img src="img/gallery/interier/by_photo/1.jpg"></a>
						<a href="img/gallery/interier/by_photo/2.jpg" data-fancybox="by_photo"><img src="img/gallery/interier/by_photo/2.jpg"></a>
						<a href="img/gallery/interier/by_photo/3.jpg" data-fancybox="by_photo"><img src="img/gallery/interier/by_photo/3.jpg"></a>
						<a href="img/gallery/interier/by_photo/4.jpg" data-fancybox="by_photo"><img src="img/gallery/interier/by_photo/4.jpg"></a>
						<a href="img/gallery/interier/by_photo/5.jpg" data-fancybox="by_photo"><img src="img/gallery/interier/by_photo/5.jpg"></a>
						<a href="img/gallery/interier/by_photo/6.jpg" data-fancybox="by_photo"><img src="img/gallery/interier/by_photo/6.jpg"></a>
						<a href="img/gallery/interier/by_photo/7.jpg" data-fancybox="by_photo"><img src="img/gallery/interier/by_photo/7.jpg"></a>
						<a href="img/gallery/interier/by_photo/8.JPG" data-fancybox="by_photo"><img src="img/gallery/interier/by_photo/8.JPG"></a>
					</div>
					<div id="gallery-animals" class="gallery-list flex-container" type="none" style="display:none;">
						<a href="img/gallery/interier/animals/1.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/1.jpg"></a>
						<a href="img/gallery/interier/animals/2.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/2.jpg"></a>
						<a href="img/gallery/interier/animals/3.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/3.jpg"></a>
						<a href="img/gallery/interier/animals/4.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/4.jpg"></a>
						<a href="img/gallery/interier/animals/5.jpeg" data-fancybox="animal"><img src="img/gallery/interier/animals/5.jpeg"></a>
						<a href="img/gallery/interier/animals/6.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/6.jpg"></a>
						<a href="img/gallery/interier/animals/7.jpeg" data-fancybox="animal"><img src="img/gallery/interier/animals/7.jpeg"></a>
						<a href="img/gallery/interier/animals/8.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/8.jpg"></a>
						<a href="img/gallery/interier/animals/9.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/9.jpg"></a>
						<a href="img/gallery/interier/animals/10.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/10.jpg"></a>
						<a href="img/gallery/interier/animals/11.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/11.jpg"></a>
						<a href="img/gallery/interier/animals/12.jpg" data-fancybox="animal"><img src="img/gallery/interier/animals/12.jpg"></a>
					</div>
					<div id="gallery-modules" class="gallery-list flex-container" type="none" style="display:none;">
						<a href="img/gallery/interier/modules/1.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/1.jpg"></a>
						<a href="img/gallery/interier/modules/2.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/2.jpg"></a>
						<a href="img/gallery/interier/modules/3.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/3.jpg"></a>
						<a href="img/gallery/interier/modules/4.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/4.jpg"></a>
						<a href="img/gallery/interier/modules/5.JPG" data-fancybox="modules"><img src="img/gallery/interier/modules/5.JPG"></a>
						<a href="img/gallery/interier/modules/6.JPG" data-fancybox="modules"><img src="img/gallery/interier/modules/6.JPG"></a>
						<a href="img/gallery/interier/modules/7.JPG" data-fancybox="modules"><img src="img/gallery/interier/modules/7.JPG"></a>
						<a href="img/gallery/interier/modules/8.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/8.jpg"></a>
						<a href="img/gallery/interier/modules/9.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/9.jpg"></a>
						<a href="img/gallery/interier/modules/10.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/10.jpg"></a>
						<a href="img/gallery/interier/modules/11.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/11.jpg"></a>
						<a href="img/gallery/interier/modules/12.jpg" data-fancybox="modules"><img src="img/gallery/interier/modules/12.jpg"></a>
					</div>
					<button class="show-more btn-default">Показать ещё</button>
				</div>
				<a class="btn-default recall">ЗАКАЗАТЬ</a>
			</div>
		</div>
	</section>

	<!-- портреты на холсте -->
	<section class="section3 dark-block" id="portraits">
		<div class="container">
			<div class="section3-block gallery">
				<h2>ПОРТРЕТЫ НА ХОЛСТЕ</h2>
				<span class="section-desc">Раскрой свою индивидуальность и уникальность через портреты,<br> которые истинно отражают твою душу и характер</span>
				<div class="gallery">
					<div class='gallery-tab-names'>
						<ul>
							<li class='gallery-tab-name grad' data-tab-name='gallery-art-portraits'><span class="tab-name">Арт Портреты</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-dream'><span class="tab-name">Дрим Арт</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-simpsons'><span class="tab-name">Симпсоны</span></li>
							<li class='gallery-tab-name' data-tab-name='gallery-photo'><span class="tab-name">Фото на холсте</span></li>
						</ul>
					</div>
					<div id='gallery-art-portraits' class='gallery-list flex-container' type="none">
						<a href="img/gallery/portrait_on_holsts/art_portraits/1.jpg" data-fancybox="art_portraits"><img src="img/gallery/portrait_on_holsts/art_portraits/1.jpg"></a>
						<a href="img/gallery/portrait_on_holsts/art_portraits/2.jpg" data-fancybox="art_portraits"><img src="img/gallery/portrait_on_holsts/art_portraits/2.jpg"></a>
						<a href="img/gallery/portrait_on_holsts/art_portraits/3.jpg" data-fancybox="art_portraits"><img src="img/gallery/portrait_on_holsts/art_portraits/3.jpg"></a>
					</div>
					<div id="gallery-dream" class="gallery-list flex-container" type="none" style='display: none;'>
						<a href="img/gallery/portrait_on_holsts/dream/1.jpg" data-fancybox="dreams"><img src="img/gallery/portrait_on_holsts/dream/1.jpg" alt=""></a>
					</div>
					<div id="gallery-simpsons" class="gallery-list flex-container" type='none' style='display: none;'>
						<a href="img/gallery/portrait_on_holsts/simpsons/1.jpg" data-fancybox="simpsons"><img src="img/gallery/portrait_on_holsts/simpsons/1.jpg" alt=""></a>
						<a href="img/gallery/portrait_on_holsts/simpsons/2.jpg" data-fancybox="simpsons"><img src="img/gallery/portrait_on_holsts/simpsons/2.jpg" alt=""></a>
					</div>
					<div id="gallery-photo" class="gallery-list flex-container" type='none' style='display: none;'>
						<a href="img/gallery/portrait_on_holsts/photo/1.jpg" data-fancybox="photo"><img src="img/gallery/portrait_on_holsts/photo/1.jpg" alt=""></a>
					</div>
					<button class="show-more btn-default">Показать ещё</button>
				</div>
				<a class="btn-default recall">ЗАКАЗАТЬ</a>
			</div>
		</div>
	</section>

	<!-- ringstring шапка -->
	<section class="section4 light-block" id="ringstring">
		<div class="container">

			<div class="section4-block">
			  
			  <div class="left">
			  	<h2 class="grad-on-white" style="font-weight: 900;">RINGSTRING</h2>
			  	<font size="6" style="font-weight: 500; display: block;">Картина нитью из<br> любой фотографии</font><br>
			  	<font size="3" style="font-weight: 900; display: block; padding-top: 20px;">Собирай свои шедевры с<br> расслабляющей голосовой<br> инструкцией</font>
			  	<div class="small">
			  		<img src="img/ringstring/ringstring_header.gif" alt="">
			  	</div>
			  	<a class="btn-default recall">ЗАКАЗАТЬ</a>
			  </div>
			  <div class="right">
			    <img src="img/ringstring/ringstring_header.gif" alt="">

			  </div>
			</div>
		</div>
	</section>

	<!-- ringstring features -->
	<section class="section5 dark-block">
		<div class="section5-block">
			<div class="section-features">
				<img src="img/ringstring/desk.png" alt="">
				<div class="feature-item item-1">
					<img src="img/ringstring/ar-4.svg" alt="">
					<h3 class="feature-title grad">Детализация</h3>
					<div class="feature-text">Плотность пересечения нити обеспечивает высокое разрешение собираемой картины</div>
				</div>
				<div class="feature-item item-2">
					<img src="img/ringstring/ar-2.svg" alt="">
					<h3 class="feature-title grad">Качество</h3>
					<div class="feature-text">С особым вниманием мы отнеслись к комплектующим набора, чтобы вы смогли получить настоящее удовольствие от взаимодействия с ним</div>
				</div>
				<div class="feature-item item-3">
					<img src="img/ringstring/ar-3.svg" alt="">
					<h3 class="feature-title grad">Баланс</h3>
					<div class="feature-text">Черная нить и белая основа это классическое сочетание, которое впишется в любой интерьер, и будет смотреться дорого</div>
				</div>
				<div class="feature-item item-4">
					<img src="img/ringstring/ar-4.svg" alt="">
					<h3 class="feature-title grad">Медитация</h3>
					<div class="feature-text">Расслабляющая фоновая музыка, приятные голоса дикторов и удовольствие от процесса сборки</div>
				</div>
			</div>
		</div>
	</section>

	<!-- ringstring how it works -->
	<section class="section6 light-block">
		<div class="container">
			<div class="section6-block">
				<div class="part-1 how-it-work">
				  <!--<h3>КАК ЭТО РАБОТАЕТ?</h3>-->
				  <font size="6" style="text-transform: uppercase; text-align: center; display: block; font-weight: 600;">КАК ЭТО РАБОТАЕТ?</font>
				  <div class="steps">
				  	<div>
				  		<span class="number">1</span>
				  		<span>ПОКУПАЕШЬ НАБОР RS</span>
				  	</div>
				  	<div>
				  		<span class="number">2</span>
				  		<span>ЗАГРУЖАЕШЬ СВОЮ ФОТОГРАФИЮ</span>
				  	</div>
				  	<div>
				  		<span class="number">3</span>
				  		<span>ПОЛУЧАЕШЬ ИНСТРУКЦИЮ</span>
				  	</div>
				  	<div>
				  		<span class="number">4</span>
				  		<span>СОБИРАЕШЬ ПОРТРЕТ</span>
				  	</div>
				  	<div>
				  		<span class="number">5</span>
				  		<span>НАСЛАЖДАЕШЬСЯ</span>
				  	</div>
				  </div>
				</div>
				<div class="part-2">
					<div>
						<img src="img/ringstring/RS.svg" alt="">
					</div>
					<div>
						<img src="img/ringstring/rs-mini.svg" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- mozabrick header -->
	<section class="section7 dark-block" id="mozabrick">
		<div class="container">
			<div class="section7-block">
				<div class="left">
					<h2>фото-конструктор <span class="grad">mozabrick</span></h2>
					<font size="4" style="font-weight: 600;">Собирайте любимые фотографии<br> из кубиков конструктора!</font>
					<div class="small">
						<img src="img/mozabrick/m-banner.webp" alt="">
					</div>
					<a class="btn-default recall">ЗАКАЗАТЬ</a>
				</div>
				<div class="right">
					<img src="img/mozabrick/m-banner.webp" alt="">
				</div>
			</div>
		</div>
	</section>

	<!-- mozabrick formats -->
	<section class="section8 light-block">
		<div class="container">
			<div class="section8-block">
				<font size="6" style="text-transform: uppercase;">Какой формат выбрать?</font><br>
				<div class="m-formats">
					<div class="format-item top m-s">
						<img class="format-item-img" src="img/mozabrick/m-s.png" alt="">
						<font size="6">Набор S</font>
						<div class="format-info-data">
							<div>
								<img src="img/mozabrick/cube.svg" alt="">
								<p>5800</p>
							</div>
							<div>
								<img src="img/mozabrick/clock.svg" alt="">
								<p>12 часов</p>
							</div>
							<div>
								<img src="img/mozabrick/arrows.svg" alt="">
								<p>51×51 см</p>
							</div>
						</div>
					</div>
					<div class="format-item top m-m">
						<img class="format-item-img" src="img/mozabrick/m-m.png" alt="">
						<font size="6">Набор M</font>
						<div class="format-info-data">
							<div>
								<img src="img/mozabrick/cube.svg" alt="">
								<p>8700</p>
							</div>
							<div>
								<img src="img/mozabrick/clock.svg" alt="">
								<p>18 часов</p>
							</div>
							<div>
								<img src="img/mozabrick/arrows.svg" alt="">
								<p>51×76 см</p>
							</div>
						</div>
					</div>
					<div class="format-item bottom m-cs">
						<img class="format-item-img" src="img/mozabrick/m-cs.png" alt="">
						<font size="6">Color S</font>
						<div class="format-info-data">
							<div>
								<img src="img/mozabrick/cube.svg" alt="">
								<p>7000</p>
							</div>
							<div>
								<img src="img/mozabrick/clock.svg" alt="">
								<p>12 часов</p>
							</div>
							<div>
								<img src="img/mozabrick/arrows.svg" alt="">
								<p>51×51 см</p>
							</div>
						</div>
					</div>
					<div class="format-item bottom m-cm">
						<img class="format-item-img" src="img/mozabrick/m-cm.png" alt="">
						<font size="6">Color M</font>
						<div class="format-info-data">
							<div>
								<img src="img/mozabrick/cube.svg" alt="">
								<p>10500</p>
							</div>
							<div>
								<img src="img/mozabrick/clock.svg" alt="">
								<p>18 часов</p>
							</div>
							<div>
								<img src="img/mozabrick/arrows.svg" alt="">
								<p>51×76 см</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- mozabrick how it works -->
	<section class="section9 dark-block">
		<div class="container">
			<div class="section9-block">
				<div class="part-1 how-it-work">
					<font size="6" style="text-transform: uppercase; text-align: center; display: block;">КАК ЭТО РАБОТАЕТ?</font>
				  <div class="steps">
				  	<div>
				  		<span class="number">1</span>
				  		<div>
				  			<span>ПОКУПАЕШЬ набор фото-конструктора Mozabrick</span>
				  		</div>
				  	</div>
				  	<div>
				  		<span class="number">2</span>
				  		<div>
				  			<span>ЗАГРУЖАЕШЬ любое фото в генератор mozabrick</span>
				  		  <span style="font-weight: normal; font-size: 13px;">Уникальный код для сборки — внутри набора, или <a href="https://mozabrick.ru/magic/upload" target="_blank">попробуй бесплатно до покупки</a></span>
				  		</div>
				  	</div>
				  	<div>
				  		<span class="number">3</span>
				  		<div>
				  			<span>Моментально ПОЛУЧАЕШЬ инструкцию по сборке!</span>
				  			<span style="font-weight: normal; font-size: 13px;">Пересобирай с новыми фотографиями бесконечно!</span>
				  		</div>
				  	</div>
				  </div>
				</div>
			</div>
		</div>
	</section>

	<!-- calc cost -->
	<section class="section10 light-block" id="cost">
		<div class="container">
			<div class="section10-block">
				<font size="6" style="text-transform: uppercase; text-align: center; display: block; font-weight: bold;">Рассчитай стоимость картины онлайн</font>
				<div class="present flex" style="justify-content: center">
					<div class="present-item">
						<img src="img/logo-black.png" alt="">
					</div>
	
				</div>
				<a data-fancybox data-src="#order" href="javascript:;" class="btn-default">Рассчитать</a>
			</div>
		</div>
	</section>

	<!-- how we work -->
	<section class="section11 dark-block" id="about-us">
		<div class="container">
			<div class="section11-block">
				<font size="6" style="text-transform: uppercase; text-align: center; display: block; font-weight: bold;">Как мы работаем</font>

				<div class="works flex">
					<div class="works-item">
						<h4>Оформление заявки</h4>
						<div class="works-item-img"><img src="img/s1.png" alt=""></div>
						<p>Оставляете заявку на нашем сайте, указывая все ваши пожелания </p>
					</div>
					<div class="works-item">
						<h4>Предоплата</h4>
						<div class="works-item-img"><img src="img/s2.png" alt=""></div>
						<p>Производите оплату 50% за цифровую версию и ожидаете её выполнение</p>
					</div>
					<div class="works-item">
						<h4>Утверждение макета</h4>
						<div class="works-item-img"><img src="img/s3.png" alt=""></div>
						<p>Высылаем набросок на утверждение, оплачиваете вторую часть</p>
					</div>
					<div class="works-item">
						<h4>Выполняем работу</h4>
						<div class="works-item-img"><img src="img/s4.png" alt=""></div>
						<p>Дорабатываем портрет до финального состояния и представляем вам</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	
	<!-- отзывы -->
	<section class="section12 otzivi light-block">
		<div class="container">
			<div class="section12-block">
				<font size="6" style="">Отзывы</font>				
				<div class="otzivi__items">

					<div class="otzivi__item">
            <a href="img/otziv_1.jpg" data-fancybox="gallery">
              <img src="img/otziv_1.jpg" alt="" />
            </a>
          </div>
          
          <div class="otzivi__item">
            <a href="img/otziv_2.jpg" data-fancybox="gallery" >
              <img src="img/otziv_2.jpg" alt="" />
            </a>
          </div>
          
          <div class="otzivi__item">
            <a href="img/otziv_3.jpg" data-fancybox="gallery" >
              <img src="img/otziv_3.jpg" alt="" />
            </a>
          </div>
          
          <div class="otzivi__item">
            <a href="img/otziv_4.jpg" data-fancybox="gallery" >
              <img src="img/otziv_4.jpg" alt="" />
            </a>
          </div>
          
          <div class="otzivi__item">
            <a href="img/otziv_5.jpg" data-fancybox="gallery" >
              <img src="img/otziv_5.jpg" alt="" />
            </a>
          </div>        
				</div>

				<div id="slickdots_2"></div>
			</div>
		</div>
	</section>

	<footer class="footer light-block" id="contacts">
		<div class="footer-block flex">
			<div class="contacts">
				<font size="6">КОНТАКТЫ</font>
				<a href="tel:+79878633913">+7 (987) 863 39 13</a>
				<a class="mail" href="mailto:gbvholsts@gmail.com">gbvholsts@gmail.com</a>
				<p>ИНН 560103067062 </p>
				<p>ОГРНИП 323565800042282  </p>



				<div class="socials flex">
					<a href="https://vk.com/gbvart"><img style="width: 55px" src="img/vk_black.svg" alt=""></a>
					
				</div>
			</div>
			<!--
			<div class="map">
				<img src="img/map2.png" alt="" style="width: 100%;">
				<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Af46fe4836de112354ae95acef6e096909732119dc22f35c629a22675ba8d4aac&amp;width=500&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
				</script>
			</div>
		-->
		</div>
	</footer>

	<div class="overflow">
		<div class="modal-block light-block">
			<button class="close"><img src="img/close.png" alt=""></button>
			<div class="modal">
				<div class="modal-left">
					<div class="module-border-wrap">
						<div class="module">
							<img src="img/giphy.gif" alt="">
						</div>
					</div>
				</div>
				<div class="modal-right">
					<div class="h3"><h3>Оформление заявки</h3></div>
					<p class="note">Наш менеджер подберет самое лучшее для Вас!</p>
				
					<form action="#">
						<!-- Hidden Required Fields -->
							<input type="hidden" name="project_name" value="GBV.ART">
							<input type="hidden" name="admin_email" value="gbvholsts@gmail.com">
							<input type="hidden" name="form_subject" value="Заявка с сайта">
						<!-- END Hidden Required Fields -->

						
						<div class="input-block">
							<label>Ваш телефон</label>
							<input name="Телефон" class="ph" type="text" placeholder="+7 (123) 456 78 90" required>
						</div>
						
						<p class="promo">ЕСТЬ ПРОМОКОД?</p>
						<input class="promocode" name="Промокод" type="text" placeholder="МОЙ-ПРОМОКОД">

						<div class="check">
							<input id="chk" type="checkbox" checked>
							<label for="chk">Нажимая на кнопку, вы даете согласие на обработку своих персональных данных</label>
						</div>

						<button class="btn-default cust">Оставить заявку</button>
					</form>
				</div>
			</div>

			<div class="thanks">
				<h3>Ваша заявка отправлена !</h3>
			</div>
		</div>
	</div>

	<div class="order" id="order" style="display: none;">
		<form action="order.php"
          method="post"
          name="mainform"
          enctype="multipart/form-data"
        >
      <div class="order__question choice-type ">
      	<label>
					<input type="radio" value="Интерьерная картина" name="type" v-model="type"/>
					<span>Интерьерная картина</span>
				</label>
				<label>
					<input type="radio" value="Портрет на холсте" name="type" v-model="type"/>
					<span>Портрет на холсте</span>
				</label>
				<label>
					<input type="radio" value="RingString" name="type" v-model="type"/>
					<span>RingString</span>
				</label>
				<label>
					<input type="radio" value="Mozabrick" name="type" v-model="type"/>
					<span>Mozabrick</span>
				</label>
      </div>

      <div class="order__question styles order__question__portrait-type" v-if="type == 'Портрет на холсте'">
				<div class="order__question__title">
					Выберите стиль портрета на холсте
				</div>
				<label>
					<input type="radio" value="Дрим Арт" name="typeArtPortrait" v-model="typeArtPortrait"/>
					<span>Обработка фотографии в стиле <strong>«Дрим Арт»</strong> Яркий, красочный фон</span>
				</label>
				<label>
					<input type="radio" value="Арт Портрет" name="typeArtPortrait" v-model="typeArtPortrait"/>
					<span>Ручная отрисовка в стиле  <strong>«Арт Портрет»</strong> Почувствуйте себя в
						киновселенной Marvel, героем и мультфильмов, полная воля фантазии</span>
				</label>
				<label>
					<input type="radio" value="Фото на холсте" name="typeArtPortrait" v-model="typeArtPortrait"/>
					<span>Фото на холсте</span>
				</label>
			</div>

      <div class="order__question sizes">
				<div class="order__question__title">Выберите размер портрета</div>

				<label v-if="type != 'RingString' && type != 'Mozabrick'">
					<input type="radio" value="30x40" name="size" v-model="size"/>
					<span>30x40</span>
				</label>
				<label v-if="type != 'RingString' && type != 'Mozabrick'">
					<input type="radio" value="40x60" name="size" v-model="size"/>
					<span>40x60</span>
				</label>
				<label v-if="type != 'RingString' && type != 'Mozabrick'">
					<input type="radio" value="50x70" name="size" v-model="size"/>
					<span>50x70</span>
				</label>
				<label v-if="type != 'RingString' && type != 'Mozabrick'">
					<input type="radio" value="60x80" name="size" v-model="size"/>
					<span>60x80</span>
				</label>
				<label v-if="type != 'RingString' && type != 'Mozabrick'">
					<input type="radio" value="80x120" name="size" v-model="size"/>
					<span>80x120</span>
				</label>
				<label v-if="type == 'RingString'">
					<input type="radio" value="35x35" name="size" v-model="size"/>
					<span>35x35</span>
				</label>
				<label v-if="type == 'RingString'">
					<input type="radio" value="50x50" name="size" v-model="size"/>
					<span>50x50</span>
				</label>
				<label v-if="type == 'Mozabrick'">
					<input type="radio" value="S" name="size" v-model="size"/>
					<span>Черно-белый S</span>
				</label>
				<label v-if="type == 'Mozabrick'">
					<input type="radio" value="M" name="size" v-model="size"/>
					<span>Черно-белый M</span>
				</label>
				<label v-if="type == 'Mozabrick'">
					<input type="radio" value="S Color" name="size" v-model="size"/>
					<span>Цветной S</span>
				</label>
				<label v-if="type == 'Mozabrick'">
					<input type="radio" value="M Color" name="size" v-model="size"/>
					<span>Цветной M</span>
				</label>
			</div>

			<div class="order__question" v-if="type == 'Портрет на холсте' && typeArtPortrait != 'Фото на холсте'">
				<div class="order__question__title">
					Количество человек на портрете
				</div>
				<div class="order__question__desc">
					<strong>+{{data[this.type].size[this.typeArtPortrait]["chelovek"]}} руб</strong> за
					человека
				</div>

				<select v-model="count" name="count">
					<option value="1 человек">1</option>
					<option value="2 человека">2</option>
					<option value="3 человека">3</option>
					<option value="4 человека">4</option>
					<option value="5 человек">5</option>
				</select>
			</div>
			<div class="order__question">
				<div class="order__question__title">Дополнительные услуги</div>
				<label v-if="type == 'Mozabrick'">
					<input type="checkbox" value="Рамка" v-model="mozBorder" name="mozBorder" />
					<span>Рамка для Mozabrick</span>
				</label>
				<label>
					<input type="checkbox" value="Подарочная упаковка" v-model="gift" name="gift" />
					<span> Подарочная упаковка (<strong>+300руб</strong> ) </span>
				</label>
			</div>

			<div class="order__question">
				<div class="order__question__title">Ваши пожелания</div>
				<div class="order__question__desc">
					*От того, как вы опишите ваши пожелания будет зависит конечный
					результат, любимые хобби, герои, черты лица, индивидуальные
					особенности, чем больше тем лучше!
				</div>

				<textarea  placeholder="Ваши пожелания" name="wish"></textarea>
			</div>

			<div class="order__question">
				<div class="order__question__title">Загрузка фото</div>
				<div class="order__question__desc">
					*Качество фото на прямую зависит на конечный результат, печать,
					обработку и работу художника! Постарайтесь найти наиболее удачную
					фотографию, высокого качества!
				</div>
				<input type="file" name="userfile" required />
			</div>

			<div class="order__result">
				<input type="hidden" v-model="finResult" name="result">
				<div class="order__result__left">
					<div>
						Итог <br />
						<strong>{{finResult ? finResult + ' руб' : '-'}}</strong>
					</div>
				</div>
				<div class="order__result__right">
					{{type == 'Портрет на холсте' ? typeArtPortrait : type}}, 

					{{size}} 

					{{ type == 'Портрет на холсте' && data[type].size[typeArtPortrait]["chelovek"] ? ', ' + count : ''}}

					{{type == 'Mozabrick' && mozBorder[0] ? '+ Рамка,' : ''}}

					{{gift[0] ? ', ' + gift[0] : ''}}
					<div>
						Ориентировочная дата изготовления:

						<strong> {{date }} г.</strong>
					</div>
				</div>
			</div>
			<div class="order__question order__question__phone">
				<div class="order__question__title">Введите ваш номер</div>
 
				<input type="text" class="phone" placeholder="+7 (123) 456 78 90" name="phone" required/>
			</div>
			<button href="" class="btn-default">Заказать</button>
		</form>
	</div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="js/libs.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.maskedinput.min.js"></script>
  <script src="js/slick.min.js"></script>
  <script src="js/main.js?ver=1.0.5"></script>
  <script type="text/javascript" src="js/script.js"></script>
	<script src="js/vue.min.js"></script>
  <script src="js/order.js?ver=1.0.0"></script>
  <script src="js/show-more.js"></script>

<!-- CDN link if you prefer to use this one -->
<!-- <script type="text/javascript" src="https://cdn.jotfor.ms/before-after/before-after.min.js"></script> -->
<script type="text/javascript">
  $('.ba-slider').beforeAfter();
</script>
<script>
	window.addEventListener('load', function () {
		let preloader = document.querySelector('#preloader');
		preloader.hidden = false;
		preloader.style.opacity = 1;
		preloader.style.transition = ".7s";

		window.requestAnimationFrame(
			()=>window.requestAnimationFrame(
				()=>{preloader.style.zIndex = -1; preloader.style.opacity = 0;}
				)
		)
  })
  window.document.addEventListener('selectstart', function(event) {
  	event.preventDefault();
  })
</script>


</body>
</html>
